:root{
  --text-color: #54656f;
  --text-color-2: #00a884;
  --text-color-3: #25d366;
  --text-color-4: #17a54b;
  --background-color:rgba(70, 69, 69, 0.493) ;
}

@import 'intl-tel-input/build/css/intlTelInput.css';


/* MOBILE FIRST */

/* Config Geral */
*{
  text-decoration: none;
  outline: none;
  color: inherit;
  list-style: none;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.border{
  border-width: 3px!important;
}
.notfy{
  color: var(--text-color-3)!important;
  font-weight: bold;
  text-shadow: .1rem .1rem .2rem rgba(126, 112, 112, 0.7);
}
.nlida{
  color: var(--text-color-4)!important;
  font-weight: bold;
}
.nlidaMessage{
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--text-color-3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.active{
  display: block!important;
}
.onFocus{
  display: none;
}
.w-alter{
  width: 4rem!important;
}
.w-input-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input.w-alter{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 3px solid #151516;
  border-radius: 0.25rem;
  text-align: center;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input.w-alter:last-child{
  width: 50%!important;
}

/* TAGS PRINCIPAIS */
html,body {
  height: 100%;
  background-color: #fff;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
}
main{
  display: flex;
}

/* MENUWHATSAPP*/
.menuWhatsApp {
  width: 100vw;
}

/* MENUWHATSAPP / HEADER  */
.menuWhatsApp header.menuPerfil{
  display: flex;
  justify-content: space-between;
  background-color: #f2f0f5;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
.menuWhatsApp header.menuPerfil div {
  padding: .5rem 1rem;
}
.menuWhatsApp header.menuPerfil .perfilImagem{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.menuWhatsApp header.menuPerfil .perfilImagem:hover img, .menuWhatsApp header.menuPerfil .perfilImagem:hover i{
  background-color: var(--background-color);
  cursor: pointer;
}
.menuWhatsApp header.menuPerfil .perfilImagem img, .menuWhatsApp header.menuPerfil .perfilImagem i{
  width: 4rem;
  height: 4rem;
  padding: .4rem;
  border-radius: 50%;
  object-fit: cover;
}
.menuWhatsApp header.menuPerfil .perfilConfig ul{
  display: flex;
  justify-content: space-around;
}
.menuWhatsApp header.menuPerfil .perfilConfig ul li{
  width: 3rem;
  height: 3rem;  
  margin: 0 .2rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}
.menuWhatsApp header.menuPerfil .perfilConfig ul li:hover{
  background-color: transparent;
  border-radius: 50%;
  opacity: 1;
  color: #232527;
}
.menuWhatsApp .adicionarContato{
  background-color: #ccc4;
  padding: 1rem;
  text-align: center;
}
.menuWhatsApp .adicionarContato select{
  width: 7rem;
  background-color: #f1f2f6;
  text-align: center;
  padding: .4rem;
  border: 0;
  border-bottom: 2px solid white;
}
.menuWhatsApp .adicionarContato select.ativado{
  border-bottom: 2px solid green;
}
.menuWhatsApp .adicionarContato select.desativado{
  border-bottom: 2px solid green;
}
.menuWhatsApp .adicionarContato input{
  width: 10rem;
  background-color: #f1f2f6;
  text-align: center;
  font-size: 1rem;
  padding: .4rem;
}
.menuWhatsApp .adicionarContato #addNumber{
  width: 84%;
  border: 0;
  margin-top: 1rem;
  padding: 1rem 0;
  background: red;
  color: white;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .8;
  border-radius: 0.9rem;
  border-bottom: 3px solid #0005;
}
.menuWhatsApp .adicionarContato #addNumber.desativado{
  background: rgb(228, 223, 223);
  color: #202020;
}
/* Notfy */
.menuWhatsApp .notificacao{
  display: none;
}
.menuWhatsApp .notificacao.OpenMenu{
  display: block;
  width: 100%;
  background-color: gray;
  min-height: 100vh;
  /* height: max-content; */
  position: fixed;
  top: 5.15rem;
  text-align: center;
  overflow: auto;
  z-index: 1;
}
.menuWhatsApp .notificacao.OpenMenu ul{
  width: 100%;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menuWhatsApp .notificacao.OpenMenu ul li{
  background-color: white;
  padding: 0.4rem 0rem;
  width: 14rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 2px solid #0009;
  box-shadow: 0.5rem 0.5rem 0.5rem #0004;
  color: rgb(48, 47, 47);
}
.menuWhatsApp .notificacao.OpenMenu ul li.select{
  color: green;
  font-weight: bold;
  opacity: .8;
}
.menuWhatsApp .notificacao.OpenMenu ul li:hover{
  opacity: 1;
  color: black;
}
.menuWhatsApp .notificacao.OpenMenu ul li.select:hover{
  color: green;
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card{
  width: 75%;
  margin: 1rem auto;
  border: 2px solid;
  height: 8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuWhatsApp .notificacao.OpenMenu .cardGroup .card .info-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 19rem; 
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card .img-wrapper{
  width: 7rem;
  height: 7rem;
  border: 1px solid blue;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: blue;
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card img{
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  border-radius: 50%;
  object-fit: cover;
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card p{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .1rem;
  
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div.icons{
  display: flex;
  flex-direction: column;
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div i{
  font-size: 2.4rem;
  cursor: pointer;
  margin: .6rem 0;
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div #accSolici{
  color: rgb(47, 168, 47);
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div #accSolici:hover{
  color: green;
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div #recSolici{
  color: rgb(170, 43, 43);
}
.menuWhatsApp .notificacao.OpenMenu .cardGroup .card div #recSolici:hover{
  color: red;
}

/* MENUWHATSAPP / MENUCONVERSAS */
.menuWhatsApp .menuConversas{
  border-bottom: 3px solid #fff;
}
.menuWhatsApp .menuConversas .conversasSearch{
  width: 100vw;
}
.menuWhatsApp .menuConversas .conversasSearch p{
  width: 84%;
  margin: 0 auto 1rem auto;
  border-bottom: 3px solid transparent;
}
.menuWhatsApp .menuConversas .conversasSearch p i{
  font-size: 0;
  color: var(--text-color);
  margin-right: .2rem;
  cursor: pointer;
}
.menuWhatsApp .menuConversas .conversasSearch p i.using{
  font-size: 1.2rem;
}
.menuWhatsApp .menuConversas .conversasSearch p input{
  width: 92%;
  color: var(--text-color);
  padding: .4rem;
  border: 0;
}
.menuWhatsApp .menuConversas .conversasView{
  margin: 0 1rem;
}
.menuWhatsApp .menuConversas .conversasView div{
  padding: .5rem .5rem .2rem .5rem;
}
.menuWhatsApp .menuConversas .conversasView .conversasArquivadas{
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.menuWhatsApp .menuConversas .conversasView .conversasArquivadas i{
  margin: 0 .6rem;
  color: var(--text-color-2);
  cursor: pointer;
  font-size: 1.2rem;  
}
.menuWhatsApp .menuConversas .conversasView .conversasArquivadas span#arquivada{
  margin-left: .4rem;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup{
  width: 100%;
  overflow: auto;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  cursor: pointer;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoPessoal{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoPessoal .perfilImagem{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoPessoal .perfilImagem img{
  width: 5rem;
  height: 5rem;
  padding: .4rem;
  border-radius: 50%;
  object-fit: cover; 
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoPessoal .PerfilInfo .UserName{
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoPessoal .PerfilInfo .lastMessage{
  color: var(--text-color);
  font-weight: bold;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoNotfy{
  position: relative;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoNotfy .infoGroup{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoNotfy .infoGroup #notificacao{
  position: absolute;
  right: 5rem;
  bottom: 1.7rem;
  font-size: 1.4rem;
}
.menuWhatsApp .menuConversas .conversasView .conversasCardGroup .conversasCard .infoNotfy .infoGroup #notificacao i{
  display: none;
}


.menuMensagem{
  display: none;
}

