/* TUDO */
*{
  text-decoration: none;
  outline: none;
  color: inherit;
  list-style: none;
}

/* TAGS PRINCIPAIS */
html,body {
  height: 100%;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
}
main{
  display: flex;
}

/* MENUWHATSAPP*/
.menuWhatsApp {
  background-color: rgba(255, 0, 0, 0.329);
  width: 100%;
}

/* MENUWHATSAPP / HEADER  */
.menuWhatsApp header.menuPerfil{
  display: flex;
  justify-content: space-between;
  background-color: #f2f0f5;
}
.menuWhatsApp header.menuPerfil div {
  padding: .5rem 1rem;
}
.menuWhatsApp header.menuPerfil .perfilImagem{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.menuWhatsApp header.menuPerfil .perfilImagem:hover img{
  background-color: rgba(70, 69, 69, 0.493);
  cursor: pointer;
}
.menuWhatsApp header.menuPerfil .perfilImagem img{
  width: 4rem;
  height: 4rem;
  padding: .4rem;
  border-radius: 50%;
  object-fit: cover;
}
.menuWhatsApp header.menuPerfil .perfilConfig ul{
  display: flex;
  justify-content: space-around;
}
.menuWhatsApp header.menuPerfil .perfilConfig ul li{
  width: 3rem;
  height: 3rem;  
  margin: 0 .2rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: #54656f;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menuWhatsApp header.menuPerfil .perfilConfig ul li:hover{
  background-color: rgba(70, 69, 69, 0.493);
  border-radius: 50%;
}


/* MENUWHATSAPP / MENUCONVERSAS */

.menuMensagem{
  display: none;
}